* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: 100px 150px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
}

ul {
  list-style-type: none;
  border: 1px solid grey;
  background-color: white;
  box-shadow: 5px 3px 3px grey;
  padding-left: 0;
  width: 450px;
}

label {
  margin-left: 10px;
}

.listEl {
  border-bottom: 1px solid grey;
  padding: 10px 5px;
}

.editBtn {
  float: right;
  margin-left: 5px;
}

.red {
  color: red;
  font-size: small;
  display: none;
}

.deleteBtn {
  background-color: white;
  border: none;
  color: grey;
}

.subheading {
  margin-top: 10px;
  border: none;
  width: 450px;
  font-style: italic;
  padding-left: 10px;
}

.clearBtn {
  width: 450px;
  border: 1px solid grey;
  border-top: none;
  padding: 10px 5px;
  box-shadow: 5px 3px 3px grey;
}
